.hero-section {
    min-height: 100vh;
 background: transparent;
    padding: 80px 0;
    display: flex;
    align-items: center;
    color: #fff;
}

/* Image */
.profile-img {
    max-width: 380px;
    border-radius: 20px;
    transition: transform 0.4s ease;
}

.profile-img:hover {
    transform: scale(1.03);
}

/* Text */
.hero-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
}

.name {
    color: #00c6ff;
}

/* Subtitle */
.hero-subtitle {
    font-size: 1.2rem;
    color: #cbd5e1;
    margin-top: 15px;
    max-width: 500px;
}

/* Buttons */
.btn-primary {
    background-color: #00c6ff;
    border: none;
    border-radius: 30px;
    padding: 10px 25px;
}

.btn-outline-light {
    border-radius: 30px;
    padding: 10px 25px;
}

/* Mobile */
@media (max-width: 768px) {
    .hero-title {
        font-size: 2.2rem;
    }

    .profile-img {
        max-width: 280px;
    }
}