
section{
    height:673px;
    background-color: #30364F;
    /* padding: 10px; */

    
}
.first{
    /* border: 1px solid; */
    padding-top: 30px;
    padding-left: 80px;
    margin: auto;
    width: 900px;
    height: 300px;

}
.card{
    object-fit: cover;
    background-color: #E1D9BC;
    width: 180px;
    height: 230px;
    color:#30364F ;

    h5{
        text-shadow:2px 2px 2px #a7b6f1;
    }

    img{
        height: 80%;
    }
}
