.about {
    background-color: #30364F;
    height: 150px;

    p {
        width: 1200px;
        color: #F0F0DB;
        padding: 20px;
        justify-content: center;
        font-size: large;
        margin-left: 8%;
    }
}

.bio-section {
    background-color: #E1D9BC;
    height: 523px;
    color: #30364F;

    h1 {
        padding-top: 3%;

        margin-left: 9%;

    }

    .above-p {
        font-size: large;

        margin-left: 9%;
    }

    .bio-div {
        font-size: 25px;
        margin-top: 5%;
        margin-left: 15%;
        width: 80%;

        display: grid;
        grid-template-columns: auto auto;
    }

    .resume {
        /* transform: translateY(20px); */
        
        position: absolute;
        /* align-items: center; */
        left: 45%;
        top: 35%;


        button {
            background-color: #30364F;
            /* padding: 10px; */

            border-radius: 10px;


        }

        a {
            text-decoration: none;
            color: #30364F;
            border: 3px solid #30364F;
            background-color: #E1D9BC;
            /* border: 2px solid #F0F0DB; */
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        a:hover{
            box-shadow: 0px 0px 20px 2px #30364F;
        }
    }
}